* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #ffff;
}
.wrapper {
  max-width: 1870px;
  margin: 0 auto;
  overflow-x: hidden;

  &.wrap-1 {
    padding: 0 24px;
    margin-top: 0;
    overflow-x: scroll !important;
    border-radius: 0;
  }
}
.drawer {
  background-color: var(--darktheme-Gray-scale-Gray-4, #121825) !important;
  padding: 56px 36px;
  max-width: 470px !important;
  width: 100% !important;
  overflow: scroll;

  @media (max-width:475px) {
    padding: 36px 16px;
  }
}
